.customField {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    // align-items: center;
    gap: 5px;
    position: relative;
    transition: all 600ms ease-in-out;
    --inputbox-border: 2px;

    .label {
        font-weight: 500;
        text-align: start;
        color: #222;
        text-transform: capitalize;
    }

    input {
        border: var(--inputbox-border) solid #999;
        cursor: text;
        outline: 1px gray;
        padding: 11px 11px;
        border-radius: 10px 4px 10px 4px;
        background-color: rgba($color: #fff, $alpha: 0.4);
        color: #111;
        font-weight: 400;
        font-size: 0.9rem;

        &:read-only {
            border: var(--inputbox-border) solid rgb(121, 121, 121);
            pointer-events: none;
            color: gray;
        }
    }

    select {
        padding: 4px 8px;
        border: 2px solid #b3000059;
        outline: transparent;
        border-radius: 4px;
        text-transform: capitalize;
        &:focus,
        &:focus-visible,
        &:focus-within {
            border-color: rgb(0, 155, 0);
        }
    }

    .error {
        border: var(--inputbox-border) solid rgb(255, 32, 32);
    }

    .success {
        border: var(--inputbox-border) solid rgb(13, 160, 0);
    }

    .normal {
        border: var(--inputbox-border) solid rgb(110, 110, 110);
    }

    .warn {
        border: var(--inputbox-border) solid rgb(255, 208, 0) !important;
    }
}

.err-msg {
    color: rgb(255, 102, 102);
    text-transform: capitalize;
    font-size: smaller;
    min-width: 250px;
    width: 100%;
    max-width: 400px;
    font-weight: 500;

    &::before {
        content: "! ";
        color: transparent;
    }
}

.view_btn {
    padding-right: 3rem;
}
